<form method="post" action="/sessions">
<h1>Log In Below:</h1>
Email: <input type="text" name="user[email]"><br>
Password: <input type="password" name="user[password]"><br>

<input type="submit" value="Log In">
</form>