<h1>All Recipes<h1>
<% @categories.each do |category| %>
    <br>
    <%= category.name %><br>
    <% category.recipes.each do |recipe| %>
    <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a><br>
    <% end %>
<% end %>

